@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.focus-within-animate-ping:focus-within {
  animation: ping 0.5s cubic-bezier(0, 0, 0.2, 1);
  animation-iteration-count: 1;
}

.fade-in {
  opacity: 0;
  animation: fade-in ease-in-out 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-right {
  animation: slide-right linear;
  animation-timeline: view();
  animation-range: 0% 50%;
}

@keyframes slide-right {
  0% {
    position: relative;
    left: -50vw;
  }
  50% {
    position: relative;
    left: 0vw;
  }
}
.slide-left {
  animation: slide-left linear;
  animation-timeline: view();
  animation-range: 0% 50%;
}

@keyframes slide-left {
  0% {
    position: relative;
    right: -50vw;
  }
  50% {
    position: relative;
    right: 0vw;
  }
}
/* .slide-up {
  animation: slide-up linear;
  animation-timeline: scroll();
  animation-range: 0% 50%;
}

@keyframes slide-up {
  0% {
    position: relative;
    right: -50vw;
  }
  50% {
    position: relative;
    right: 0vw;
  }
} */

/* .trans-1:hover {
  transition: all 1s;
  animation: trans1 1s;
}

@keyframes trans1 {
   0%{
    width: 100%;
    height: 480px;
  }
  50%{
    width: 100%;
    height: 50%;
  }
   100%{
    width: 100%;
    height: fit-content;
  }
} */
